.des-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  padding: 1rem 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid silver;

  label {
    padding-bottom: 0.5rem;
  }

  .upload-container label {
    display: block;
    padding: 1rem 0;
    font-weight: 600;
  }

  input {
    display: block;
    margin: 0;
    padding: 0;
  }
}